#header .gnb > li.gift a {
  background-image: url(/images/ic_menu_gift_click.svg);
}
.LightMode #header .gnb > li.gift a,
.LightMode #Mnavigation > li.gift .icon {
  background-image: url(/images/ic_menu_gift_click.svg);
}
.DarkMode #header .gnb > li.gift a,
.DarkMode #Mnavigation > li.gift .icon {
  background-image: url(/images/ic_menu_gift_click-DarkMode.svg);
}
.gift_banner .button {
  font-size: 0;
  margin-top: 16px;
}
.gift_banner .button span {
  vertical-align: middle;
}
.gift_banner .button .link_icon {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(/gift/images/gift_link_red_icon.svg);
  background-size: contain;
  width: 1rem;
  height: 1rem;
}
.gift_banner .num_gift {
  position: absolute;
  top: 42px;
  right: 130px;
  z-index: 1;
  padding: 8px 10px;
}
.gift_banner .num_gift::before {
  display: block;
  content: "";
  position: absolute;
  right: 20px;
  bottom: -12px;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #121212;
  border-left: 6px solid transparent;
}
.gift_banner .num_gift p {
  min-width: 33px;
  text-align: center;
}
.gift_banner .right {
  width: 160px;
}
.temp_list.template_column
  .list
  li.gift_list
  .button_box
  button.gift_btn::after {
  background-image: url(/gift/images/icon_button_gift_white.svg);
}
.temp_list {
  margin-top: 0;
}
.template .info_txt .date {
  margin-top: 16px;
}

@media (max-width: 999px) {
  .gift_banner .num_gift {
    right: 90px;
    top: 22px;
  }
  .gift_banner .button {
    margin-top: 8px;
  }
  .gift_banner .right {
    width: 128px;
  }
}
